.detailLink {
  line-height: 4em;
}

.detail {
  background-color: #10aac2;
  display: flex;
  align-items: center;
  width: 620px;
  padding: 36px 12px 36px 36px;
  &__img {
    width: 230px;
  }
  &__info {
    text-align: left;
    padding: 0 0 0 36px;
    margin: 0;
    &__name {
      margin-top: 0;
      font-size: 24px;
    }
    &__attribute {
      margin: 6px 0;
    }
    &__title {
      font-weight: bold;
    }
  }
}
