.searchBox {
  padding: 6px 8px;
  margin: 32px 0;
  width: 360px;
  font-size: 18px;
  color: whitesmoke;
  border: solid 3px #10aac2;
  background-color: #1d1b1c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1d1b1c inset;
  box-shadow: 0 0 0 30px #1d1b1c inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: whitesmoke;
}
