.searchBox {
  width: 60%;
  border: solid 3px #10aac2;
  margin: 32px 0;
  padding: 6px 8px;
  font-size: 18px;
  color: whitesmoke;
  background-color: #1d1b1c;
  @media all and (max-width: 767px) {
    width: 260px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1d1b1c inset;
  box-shadow: 0 0 0 30px #1d1b1c inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: whitesmoke;
}
